body {
  background-color: cadetblue;
}

.cardsMovies{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 100px;
}

.card{
  margin-top: 80px;
  margin-bottom: 80px;
}

.header{
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  height: 130px;
}
.headerTittle{
  font-size: 70px;
  margin-left: 380px;
  font-weight: bold;
}

.footer{
  background-color: aliceblue;
  height: 60px;
  width: auto;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}